<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Subastas Automáticas Ponchito Landing Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Subastas Automáticas Ponchito</h1>
            <div class="bids">
                {{#each bids}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        </div>
    </body>
</html>